<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayuda - Módulo de Efectividad de Controles</title>
    <link rel="stylesheet" href="../public/css/help.css" />
</head>

<body>
    <a href="../views/index.html">
        <img style="height: 60px; position: absolute; left:40px;" src="../public/assets/right-arrow.png" alt="">
    </a>
    <header>
        <h1>Ayuda - Módulo de Efectividad de Controles</h1>
    </header>
    <main>
        <section>
            <h2>¿Qué es la efectividad de controles?</h2>
            <p>
                La efectividad de los controles se refiere a la medida en que un sistema de control o una serie de
                medidas implementadas son capaces de lograr sus objetivos y cumplir con su propósito. En el contexto
                empresarial, la efectividad de los controles se utiliza para evaluar la capacidad de los controles
                internos de una organización para mitigar los riesgos y salvaguardar los activos, así como para
                garantizar la precisión y confiabilidad de la información financiera.
                La efectividad de los controles se determina mediante la evaluación y el monitoreo continuo de su
                funcionamiento. Esto implica realizar pruebas y revisiones periódicas para evaluar si los controles
                están diseñados adecuadamente, si se implementan correctamente y si logran los resultados esperados. Si
                se identifican deficiencias o debilidades en los controles, se deben tomar medidas correctivas para
                mejorar su efectividad.
                Es importante destacar que la efectividad de los controles puede variar según la naturaleza de los
                riesgos y las circunstancias específicas de una organización. Por lo tanto, es necesario adaptar los
                controles y las medidas de seguridad en función de los cambios en el entorno empresarial y los riesgos
                asociados.
            </p>
        </section>
        <section>
            <br>
            <h2>¿Para qué nos sirve?</h2>
            <p>
                La efectividad de los controles nos sirve para:
            </p>
            <ul>
                <li>Mitigar riesgos identificando y evaluando los controles implementados.</li>
                <li>Proteger los activos de la organización y garantizar la integridad de la información financiera.
                </li>
                <li>Evaluar la eficacia de los controles y tomar medidas correctivas para mejorarlos.</li>
                <li>Cumplir con las normativas y regulaciones aplicables a la organización.</li>
            </ul>
        </section>
        <section>
            <br>
            <h2>Funcionalidades principales</h2>
            <p>
                El Módulo de Efectividad de Controles ofrece las siguientes funcionalidades principales:
            </p>
            <ul>
                <li>Gestión de registros previos para consultar evaluaciones pasadas.</li>
                <li>Formulario para ingresar datos y evaluar la efectividad de un nuevo control.</li>
                <li>Pantalla de resultados que muestra el cálculo del porcentaje de efectividad y permite generar
                    informes en PDF.</li>
            </ul>
        </section>
        <!-- Imagen en la parte derecha de la pagina -->
        <section style="position: absolute; top: 40%; right: 10%;">
            <br>
            <img width="500px" src="../public/assets/Internship-bro.png" alt="Imagen de ayuda">
        </section>


        <!-- Apartado para descarga del manual de usuario -->
        <section>
            <br>
            <h2>Manual de usuario</h2>
            <p>
                Para descargar el manual de usuario del Módulo de Efectividad de Controles, haga clic en el siguiente
                enlace:
            </p>
            <a href="../public/manual/ManualDeUsuario.pdf" download="Manual de usuario.pdf">
                Manual de usuario ✅
            </a>
        </section>
        <br>
    </main>
</body>

</html>